// flexbox styles
// no-nos
.nw {
    // no wrap!
    flex-wrap: nowrap !important;
}

// rows
.row-sb-c {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.row-sb-fs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.row-fe {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}
.row-sb-fe {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
}
.row-sa {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.row-sa-c {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.row-c-c {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

// columns
.col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
}

.col-c {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.col-c {
    display: flex;
    flex-direction: column;
    // justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-between;
}

.col-fs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
}

// element styles
button {
    padding: 1rem 2rem;
    // border-radius: 100px;
    font-size: 18pt;
    border: none;
}