// imports
@import "framework";

// fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,800,900&display=swap');

// libraries
@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";

// variables
$black: rgb(21, 21, 21);
$white: rgb(252, 252, 252);
$primary: rgb(7, 174, 157);
$secondary: salmon;

// universal rules

* {
    box-sizing: border-box;
}

body {
    color: $white;
    font-family: 'Montserrat',
        sans-serif;
    background: #673ab7;
    background: -webkit-linear-gradient(-45deg, #3a57b7, #512da8);
    background: linear-gradient(-45deg, #3a57b7, #512da8, #f4aa3c);
    background-size: 400% 400%;
    background-repeat: no-repeat;
    animation: gradientBG 15s ease-in-out infinite;
    // height: 100vh;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

h1 {
    font-size: 60pt;
    margin: 0;
}

.glide {
    margin-top:1em;
    h1 {
        position: relative;
        display: inline;

        &::before {
            content: '';
            position: absolute;
            bottom: 18px;
            height: 10px;
            width: 100%;
            left: 0px;
            background: $primary;
            z-index: -1;
        }
    }
}

.feat-butt {
    position: relative;
    padding-right: 1.5em;
    overflow: hidden;
    z-index: 2;
    transition: 200ms;

    &::after,
    &::before {
        transition: ease all 230ms;
    }

    &::before {
        content: '';
        position: absolute;
        background: rgba($primary, 100%);
        top: 0px;
        right: 0px;
        height: 100%;
        width: 100%;
        align-self: stretch;
        transform: translateX(93%);
        z-index: -1;
    }

    &::after {
        content: '';
        position: absolute;
        background: rgba($black, 15%);
        top: 0px;
        right: 0px;
        height: 100%;
        width: 100%;
        align-self: stretch;
        transform: translateX(87%);
        z-index: 0;
    }

    &:hover {
        color: $white;
        cursor: pointer;

        &::after,
        &::before {
            transform: translateX(0%);
        }

        &::before {
            transition-delay: 100ms;
        }
    }
}